## Quiz #0203

In [ ]:
import pandas as pd
import numpy as np
import os

#### Read in the data.

In [ ]:
# Go to the directory where the data file is located. 
# os.chdir(r'~~')                # Please, replace the path with your own.

In [ ]:
df = pd.read_csv('data_sales.csv', header='infer')

In [ ]:
df.shape

(43, 5)

In [ ]:
df.head(5)

          Date   Region     Item  UnitPrice  Units
0   4-Jul-2014     East  Pen Set       4.99     62
1  12-Jul-2014     East   Binder       1.99     29
2  21-Jul-2014  Central  Pen Set      12.49     55
3  29-Jul-2014     East   Binder      19.99     81
4   7-Aug-2014  Central  Pen Set      23.95     42

#### Answer the following questions.

1). Append a new variable $Amount = UnitPric \times Units$.

In [ ]:
df['Amount'] =df['UnitPrice'] * df['Units']
df.head()

          Date   Region     Item  UnitPrice  Units   Amount
0   4-Jul-2014     East  Pen Set       4.99     62   309.38
1  12-Jul-2014     East   Binder       1.99     29    57.71
2  21-Jul-2014  Central  Pen Set      12.49     55   686.95
3  29-Jul-2014     East   Binder      19.99     81  1619.19
4   7-Aug-2014  Central  Pen Set      23.95     42  1005.90

2). Average unit price for each region. Use the groupby() method.

In [ ]:
df.groupby('Region').UnitPrice.mean()

Region
Central    18.018750
East        9.143846
West       53.658333
Name: UnitPrice, dtype: float64

3). Average unit price for each region. Use the pivot_table() method.

In [ ]:
pd.pivot_table(df, index=["Region"], columns=["UnitPrice"] , aggfunc=np.mean)

            Amount                               ...  Units
UnitPrice   1.29     1.99    2.99        4.99    ... 19.99  23.95  125.00 275.00
Region                                           ...
Central    45.4725  140.295     NaN  285.855714  ...   57.0   42.0    3.5    NaN
East           NaN  123.380     NaN  256.486000  ...   48.0    NaN    NaN    NaN
West           NaN  107.460  167.44         NaN  ...   32.0    NaN    NaN    3.0

[3 rows x 24 columns]

4). Average unit price and units for each region in one code sentence. Use the groupby() method.

In [ ]:
df.groupby("Region").agg({'UnitPrice':['mean'],'Units':['mean']})

         UnitPrice      Units
              mean       mean
Region
Central  18.018750  49.958333
East      9.143846  53.153846
West     53.658333  38.500000

5). Average unit price and units for each region in one code sentence. Use the pivot_table() method.

In [ ]:
pd.pivot_table(df, index=["Region"], columns=["Units" , "UnitPrice"] , aggfunc=np.mean)

          Amount                       ...
Units         2      3      4      5   ...     90       94      95      96
UnitPrice 125.00 275.00 4.99   125.00  ... 4.99     19.99   1.99    4.99
Region                                 ...
Central    250.0    NaN    NaN  625.0  ...  449.1  1879.06     NaN  479.04
East         NaN    NaN  19.96    NaN  ...    NaN      NaN  189.05  479.04
West         NaN  825.0    NaN    NaN  ...    NaN      NaN     NaN     NaN

[3 rows x 41 columns]

6). Total units for each region and item type in one code sentence. Use the pivot_table() method. Fill the missing values with 0.

In [ ]:
pd.pivot_table(df, index=["Units"], columns=["Item" , "Region"] , aggfunc=np.sum, fill_value=0)

         Amount                            ... UnitPrice
Item     Binder                      Desk  ...   Pen Set  Pencil
Region  Central     East     West Central  ...      East Central  East  West
Units                                      ...
2          0.00     0.00     0.00     250  ...      0.00    0.00  0.00  0.00
3          0.00     0.00     0.00       0  ...      0.00    0.00  0.00  0.00
4          0.00    19.96     0.00       0  ...      0.00    0.00  0.00  0.00
5          0.00     0.00     0.00     625  ...      0.00    0.00  0.00  0.00
7          0.00     0.00   139.93       0  ...      0.00    1.29  0.00  0.00
11        54.89     0.00     0.00       0  ...      0.00    0.00  0.00  0.00
14         0.00     0.00     0.00       0  ...      0.00    1.29  0.00  0.00
15         0.00     0.00     0.00       0  ...      0.00    0.00  0.00  0.00
16         0.00     0.00     0.00       0  ...     15.99    0.00  0.00  0.00
27         0.00     0.00     0.00       0  ...      0.00    0.00  0.00  0.00
28       391.44     0.00     0.00       0  ...      0.00    0.00  0.00  0.00
29         0.00    57.71     0.00       0  ...      0.00    0.00  0.00  0.00
32         0.00     0.00     0.00       0  ...      0.00    0.00  0.00  1.99
35         0.00     0.00     0.00       0  ...      0.00    0.00  4.99  0.00
36         0.00     0.00     0.00       0  ...      0.00    4.99  0.00  0.00
42         0.00     0.00     0.00       0  ...      0.00    0.00  0.00  0.00
46       413.54     0.00     0.00       0  ...      0.00    0.00  0.00  0.00
50       999.50     0.00     0.00       0  ...      0.00    0.00  0.00  0.00
53         0.00     0.00     0.00       0  ...      0.00    1.29  0.00  0.00
55         0.00     0.00     0.00       0  ...      0.00    0.00  0.00  0.00
56         0.00     0.00     0.00       0  ...      0.00    0.00  0.00  2.99
57         0.00     0.00  1139.43       0  ...      0.00    0.00  0.00  0.00
60         0.00   838.80     0.00       0  ...      0.00    0.00  0.00  0.00
62         0.00     0.00     0.00       0  ...      4.99    0.00  0.00  0.00
64         0.00     0.00     0.00       0  ...      0.00    0.00  0.00  0.00
66         0.00     0.00     0.00       0  ...      0.00    1.99  0.00  0.00
67         0.00     0.00     0.00       0  ...      0.00    1.29  0.00  0.00
74         0.00     0.00     0.00       0  ...     15.99    0.00  0.00  0.00
75         0.00     0.00     0.00       0  ...      0.00    1.99  0.00  0.00
76         0.00     0.00     0.00       0  ...      0.00    0.00  0.00  0.00
80       719.20     0.00     0.00       0  ...      0.00    0.00  0.00  0.00
81         0.00  1619.19     0.00       0  ...      0.00    0.00  0.00  0.00
87      1305.00     0.00     0.00       0  ...      0.00    0.00  0.00  0.00
90         0.00     0.00     0.00       0  ...      0.00    9.98  0.00  0.00
94      1879.06     0.00     0.00       0  ...      0.00    0.00  0.00  0.00
95         0.00     0.00     0.00       0  ...      0.00    0.00  1.99  0.00
96         0.00     0.00     0.00       0  ...      0.00    0.00  0.00  0.00

[37 rows x 26 columns]

7). Total sales amount for each region and item type in one code sentence. Use the pivot_table() method. Fill the missing values with 0.

In [ ]:
pd.pivot_table(df, index=["Amount"], columns=["Item" , "Region"] , aggfunc=np.sum, fill_value=0)

        UnitPrice                             ...   Units
Item       Binder                  Desk       ... Pen Set       Pencil
Region    Central   East   West Central West  ... Central East Central East West
Amount                                        ...
9.03         0.00   0.00   0.00       0    0  ...       0    0       7    0    0
18.06        0.00   0.00   0.00       0    0  ...       0    0      14    0    0
19.96        0.00   4.99   0.00       0    0  ...       0    0       0    0    0
54.89        4.99   0.00   0.00       0    0  ...       0    0       0    0    0
57.71        0.00   1.99   0.00       0    0  ...       0    0       0    0    0
63.68        0.00   0.00   0.00       0    0  ...       0    0       0    0   32
68.37        0.00   0.00   0.00       0    0  ...       0    0      53    0    0
86.43        0.00   0.00   0.00       0    0  ...       0    0      67    0    0
131.34       0.00   0.00   0.00       0    0  ...       0    0      66    0    0
139.72       4.99   0.00   0.00       0    0  ...       0    0       0    0    0
139.93       0.00   0.00  19.99       0    0  ...       0    0       0    0    0
149.25       0.00   0.00   0.00       0    0  ...       0    0      75    0    0
151.24       0.00   0.00   0.00       0    0  ...       0    0       0    0    0
167.44       0.00   0.00   0.00       0    0  ...       0    0       0    0   56
174.65       0.00   0.00   0.00       0    0  ...       0    0       0   35    0
179.64       0.00   0.00   0.00       0    0  ...       0    0      36    0    0
189.05       0.00   0.00   0.00       0    0  ...       0    0       0   95    0
249.50       0.00   0.00   0.00       0    0  ...      50    0       0    0    0
250.00       0.00   0.00   0.00     125    0  ...       0    0       0    0    0
251.72       8.99   0.00   0.00       0    0  ...       0    0       0    0    0
255.84       0.00   0.00   0.00       0    0  ...       0   16       0    0    0
299.40       0.00   4.99   0.00       0    0  ...       0    0       0    0    0
299.85       0.00   0.00   0.00       0    0  ...       0    0       0    0    0
309.38       0.00   0.00   0.00       0    0  ...       0   62       0    0    0
413.54       8.99   0.00   0.00       0    0  ...       0    0       0    0    0
449.10       0.00   0.00   0.00       0    0  ...       0    0     180    0    0
479.04       0.00   0.00   0.00       0    0  ...      96    0       0    0    0
539.40       0.00   8.99   0.00       0    0  ...       0    0       0    0    0
539.73       0.00   0.00   0.00       0    0  ...       0    0       0    0    0
575.36       0.00   0.00   0.00       0    0  ...       0    0       0    0    0
625.00       0.00   0.00   0.00     125    0  ...       0    0       0    0    0
686.95       0.00   0.00   0.00       0    0  ...      55    0       0    0    0
719.20       8.99   0.00   0.00       0    0  ...       0    0       0    0    0
825.00       0.00   0.00   0.00       0  275  ...       0    0       0    0    0
999.50      19.99   0.00   0.00       0    0  ...       0    0       0    0    0
1005.90      0.00   0.00   0.00       0    0  ...      42    0       0    0    0
1139.43      0.00   0.00  19.99       0    0  ...       0    0       0    0    0
1183.26      0.00   0.00   0.00       0    0  ...       0   74       0    0    0
1305.00     15.00   0.00   0.00       0    0  ...       0    0       0    0    0
1619.19      0.00  19.99   0.00       0    0  ...       0    0       0    0    0
1879.06     19.99   0.00   0.00       0    0  ...       0    0       0    0    0

[41 rows x 26 columns]